# Analysis of Daily Stock Price Data

KATE expects your code to define variables with specific names that correspond to certain things we are interested in.

KATE will run your notebook from top to bottom and check the latest value of those variables, so make sure you don't overwrite them.

* Remember to uncomment the line assigning the variable to your answer and don't change the variable or function names.
* Use copies of the original or previous DataFrames to make sure you do not overwrite them by mistake.

You will find instructions below about how to define each variable.

Once you're happy with your code, upload your notebook to KATE to check your feedback.

In [1]:
import pandas as pd

First, we will load the dataset from `data/AAPL.csv` into a DataFrame.

In [2]:
df = pd.read_csv('data/AAPL.csv')
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2015-06-30,125.570000,126.120003,124.860001,125.430000,115.597382,44370700
1,2015-07-01,126.900002,126.940002,125.989998,126.599998,116.675667,30238800
2,2015-07-02,126.430000,126.690002,125.769997,126.440002,116.528198,27211000
3,2015-07-06,124.940002,126.230003,124.849998,126.000000,116.122704,28060400
4,2015-07-07,125.889999,126.150002,123.769997,125.690002,115.837006,46946800

This data, in its raw format, is the same as that which can be retrieved from a number of financial websites.

Before starting the exercise, let's add some additional data columns, calculated from the raw data. Don't worry if you aren't familiar with the methods used in the following cell.

In [3]:
df['Date'] = pd.to_datetime(df['Date'])
df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month
df['Day'] = df['Date'].dt.day
df['Weekday'] = df['Date'].dt.day_name()
df['Change %'] = (df['Adj Close'].pct_change() * 100)

In [4]:
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Year,Month,Day,Weekday,Change %
0,2015-06-30,125.570000,126.120003,124.860001,125.430000,115.597382,44370700,2015,6,30,Tuesday,NaN
1,2015-07-01,126.900002,126.940002,125.989998,126.599998,116.675667,30238800,2015,7,1,Wednesday,0.932794
2,2015-07-02,126.430000,126.690002,125.769997,126.440002,116.528198,27211000,2015,7,2,Thursday,-0.126392
3,2015-07-06,124.940002,126.230003,124.849998,126.000000,116.122704,28060400,2015,7,6,Monday,-0.347979
4,2015-07-07,125.889999,126.150002,123.769997,125.690002,115.837006,46946800,2015,7,7,Tuesday,-0.246031

Avoid modifying `df` itself in the subsequent questions.

## Dataset stats

#### 1. What's the mean of the values in the `Adj Close` column?

Store the answer in a variable called `mean_adj_close`

In [5]:
# Add your code below
mean_adj_close = df['Adj Close'].mean()

#### 2. What's the minimum value in the `Low` column?

Store the answer in a variable called `min_low`

In [6]:
# Add your code below
min_low = df['Low'].min()

#### 3. What's the maximum value in the `High` column?

Store the answer in a variable called `max_high`

In [7]:
# Add your code below
max_high = df['High'].max()

#### 4. What's the difference between `min_low` and `max_high`?  

Store the answer in a variable called `price_range`

In [8]:
# Add your code below
price_range = max_high - min_low

#### 5. How many rows are there in the DataFrame?

Store the answer in a variable called `entries`

In [9]:
# Add your code below
entries = df.shape[0]

#### 6. On how many days (i.e. number of rows) was `Change %` greater than zero?

Store the answer in a variable called `positive_days`

In [10]:
# Add your code below
mask = df['Change %'] > 0
positive_days = len(df[mask])

#### 7. On how many days (i.e. number of rows) has `Adj Close` been greater than the value in the final row?

Store the answer in a variable called `days_higher`

*Hint: we can use list indexing with `.iloc` e.g. `.iloc[-1]` to get the last value in a Series, such as a specific column of a DataFrame*

In [11]:
# Add your code below
final_value = df.loc[entries - 1, 'Adj Close']
mask = df['Adj Close'] > final_value
days_higher = len(df[mask])

## Dataset sorting and filtering

#### 8. Create a new DataFrame called `df_2020` which is the same as `df` but contains only the rows where `Year == 2020`. 

Use `set_index('Date', inplace=True)` to set the `Date` column as the row index.

In [12]:
# Add your code below
df_2020 = df[df['Year'] == 2020]
df_2020.set_index('Date', inplace=True)

#### 9. Continuing with `df_2020`, calculate the `.mean()` of `Change %` for entries where `Weekday == Monday`.

Store the value in a variable called `mean_change_mon_2020`.

In [13]:
# Add your code below
mean_change_mon_2020 = df_2020[df_2020['Weekday'] == 'Monday']['Change %'].mean()

When you have calculated `mean_change_mon_2020`, uncomment and run the cell below to view its value:

In [14]:
mean_change_mon_2020

0.2918877852311579

#### 10. Calculate the sum of the `Volume` column in `df_2020` for entries where `Month == 3`.

Store the value in a variable called `total_volume_march_2020`.

In [15]:
# Add your code below
total_volume_march_2020 = df_2020[df_2020['Month'] == 3]['Volume'].sum()

When you have calculated `total_volume_march_2020`, uncomment and run the cell below to view its value:

In [16]:
total_volume_march_2020

1570018100

#### 11. Using `df_2020`, determine when `Adj Close` was the highest.

- look at the [documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.idxmax.html) for the `.idxmax()` method and use it for this task 
- this will only work if the row index has been set to the `Date` as instructed earlier in the assignment

Store the value in a variable called `year_high_timestamp`

In [17]:
# Add your code below
year_high_timestamp = df_2020.idxmax()['Adj Close']

#### 12. Create a DataFrame called `df_top_10` which contains the 10 entries from `df` with the highest positive `Change %` values.
- consider all entries in `df` rather than `df_2020`
- remember to avoid modifying `df` or any other stored DataFrames 
- `.copy()` can be used to copy a DataFrame to a new variable

In [18]:
# Add your code below
df_top_10 = df.copy()
df_top_10 = df_top_10.sort_values('Change %', ascending=False).head(10)

#### 13. How many entries in `df_top_10` were *not* on a Monday?
Store the value in a variable called `top_10_not_mon`

In [19]:
# Add your code below
top_10_not_mon = len(df_top_10[df_top_10['Weekday'] != 'Monday'])

When you have calculate `top_10_not_mon`, uncomment and run the cell below to inspect it:

In [20]:
top_10_not_mon

8

## Dataset manipulation

#### 14. Create a new DataFrame called `df_var`, which the same as `df` but with an additional column `Variation %`, which is equal to:

((`High` - `Low`) / `Close`) * 100

- be sure to use `Close` rather than `Adj Close` in this question
- do not modify `df` but create a copy: `df_var = df.copy()`

In [25]:
# Add your code below
df_var = df.copy()
df_var['Variation %'] = ((df_var['High'] - df_var['Low']) / df_var['Close']) * 100

Once you have calculated `df_var`, you can uncomment and run the cell below to inspect it:

In [26]:
df_var.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Year,Month,Day,Weekday,Change %,Variation %
0,2015-06-30,125.570000,126.120003,124.860001,125.430000,115.597382,44370700,2015,6,30,Tuesday,NaN,1.004546
1,2015-07-01,126.900002,126.940002,125.989998,126.599998,116.675667,30238800,2015,7,1,Wednesday,0.932794,0.750398
2,2015-07-02,126.430000,126.690002,125.769997,126.440002,116.528198,27211000,2015,7,2,Thursday,-0.126392,0.727622
3,2015-07-06,124.940002,126.230003,124.849998,126.000000,116.122704,28060400,2015,7,6,Monday,-0.347979,1.095242
4,2015-07-07,125.889999,126.150002,123.769997,125.690002,115.837006,46946800,2015,7,7,Tuesday,-0.246031,1.893552

#### 15. Create a new DataFrame called `df_var_value`, which the same as `df_var` but with an additional column `Traded Value`, equal to:
`Volume * Adj Close`

- do not modify `df_var` but create a copy: `df_var_value = df_var.copy()`

In [23]:
# Add your code below
df_var_value = df_var.copy()
df_var_value['Traded Value'] = df_var_value['Volume'] * df_var_value['Adj Close']

Now uncomment and run the cell below to view `df_var_value`:

In [24]:
df_var_value.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Year,Month,Day,Weekday,Change %,Variation %,Traded Value
0,2015-06-30,125.570000,126.120003,124.860001,125.430000,115.597382,44370700,2015,6,30,Tuesday,NaN,1.004546,5.129137e+09
1,2015-07-01,126.900002,126.940002,125.989998,126.599998,116.675667,30238800,2015,7,1,Wednesday,0.932794,0.750398,3.528132e+09
2,2015-07-02,126.430000,126.690002,125.769997,126.440002,116.528198,27211000,2015,7,2,Thursday,-0.126392,0.727622,3.170849e+09
3,2015-07-06,124.940002,126.230003,124.849998,126.000000,116.122704,28060400,2015,7,6,Monday,-0.347979,1.095242,3.258450e+09
4,2015-07-07,125.889999,126.150002,123.769997,125.690002,115.837006,46946800,2015,7,7,Tuesday,-0.246031,1.893552,5.438177e+09